@use "../base/" as *;

.title {
    margin-top: 2rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 18rem;
}

.title-2 {
    @extend .title;
    margin-bottom: 0;
}

.menu-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

