@use "../abstract/" as *;
@use "../base/" as *;

.blog{
    &__title {
        h2{
            font-size: 2.5rem;
            font-weight: 500;
        }
        padding: 5rem 5rem 0 5rem;        
        font-weight: 400;
        background-color: $clr-secondary;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: $clr-secondary;
        padding: 4rem 5rem;
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 30%;
            height: 100%;
        }
    }

    &__date {
        text-align: center;
        line-height: 3.9rem;
        padding-right: 2rem;
        font-weight: 500;
        h2 {
            font-size: 5.2rem;
            font-weight: 500;
        }

        h3{
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    &__text {
        padding: 0 2rem;
        h2{
            font-size: 1.2rem;
        }
        p{
            padding: 2rem 0 3rem 0;
            width: 31rem;
            line-height: 1.7rem;
        }
    }
}